# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/
dist/

# Go specific
*.test
*.out
coverage.txt

# Go workspace file
go.work
go.work.sum

# System files
.DS_Store
Thumbs.db

# env file
.env

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.db
*.postgres
*.sql.bak
dump.sql
